.box{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding: 5%;
    overflow: hidden;
}